/* header 공통값 */
.h_bg header * {color: #fff;}
/* =========================================header */
.h_bg {background-color: #111; position: relative;}
.h_bg header {
    max-width:1400px; margin: 0 auto; height: 125px;
    /* h1+h_right 정렬 */
    display: flex; flex-flow: row nowrap; align-items: center;
}
.h_bg header h1 {}
.h_bg header h1 a {}
.h_bg header h1 a img {}
.h_bg header .h_right {
    width: calc(100% - 150px);
    padding-left: 20px;
}
.h_bg header .h_right .h_top {
    float: right; margin-bottom: 20px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
.h_bg header .h_right .h_top .search {}
.h_bg header .h_right .h_top .search > a {}
.h_bg header .h_right .h_top .search .m_all_nav {display: none;}
.h_bg header .h_right .h_top .search > a img {}
.h_bg header .h_right .h_top > a {
    margin-left: 16px;
    font-size: 0.88rem; letter-spacing: -0.02em;
}
/* ========================모바일 메뉴 클릭 시 실행되는 서브메뉴 전체(아래) */
.h_bg header .h_right .h_top .search .m_nav {
    display: none;
    background-color: #fff;
    position: fixed; right: 0; top: 125px;
    z-index: 999;
    width: 100%; height: calc(100vh - 125px);
    padding: 30px 15px 90px;
}
.h_bg header .h_right .h_top .search .m_nav a {
    color: #111; font-size: 0.88rem; font-weight: 500;
}
.h_bg header .h_right .h_top .search .m_nav .login_join_cs {
    text-align: right;
    padding-bottom: 10px; border-bottom: 1px solid #111;
}
.h_bg header .h_right .h_top .search .m_nav .login_join_cs a {
    margin-left: 16px;
}
.h_bg header .h_right .h_top .search .m_nav .login_join_cs a:first-child {margin: 0;}
.h_bg header .h_right .h_top .search .nav {}
.h_bg header .h_right .h_top .search .m_nav .nav_menu {}
.h_bg header .h_right .h_top .search .m_nav .nav_menu > li {
    font-size: 1rem;
    margin-bottom: 1px solid #ddd;
}
.h_bg header .h_right .h_top .search .m_nav .nav_menu > li > a {
    display: block; font-weight: 500;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}
.h_bg header .h_right .h_top .search .m_nav .nav_menu > li:nth-child(4) > a {
    border-bottom: 1px solid #000;
}
.h_bg header .h_right .h_top .search .m_nav .nav_menu > li .sub {}
.h_bg header .h_right .h_top .search .m_nav .nav_menu > li .sub li {}
.h_bg header .h_right .h_top .search .m_nav .nav_menu > li .sub li a {
    display: block; color: #888;
    padding: 15px 0 15px 12px;
}
.h_bg header .h_right .h_top .search .m_nav .nav_menu > li .sub li:first-child a {
    color: #111;
}
/* =========================================header 검색팝업(S) */
.h_bg header .h_right .h_top .search .search_popup {
    display: none; /* 초기 숨기기(검색 아이콘 클릭 시에만 출력 대상) */
    background-color: #111;
    position: fixed; /* 좌표 필수 */ right: 0; top: 0;
    width: 350px; height: 100vh; padding: 20px;
}
.h_bg header .h_right .h_top .search .search_popup > * {margin-bottom: 50px;}
.h_bg header .h_right .h_top .search .search_popup > *:last-child {margin: 0;}
.h_bg header .h_right .h_top .search .search_popup .close_btn {float: right;}
.h_bg header .h_right .h_top .search .search_popup .close_btn img {}
.h_bg header .h_right .h_top .search .search_popup #searchFrm {
    clear: both;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    border-bottom: 2px solid #fff; padding-bottom: 5px;
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input[name$=search] {
    background: none; width: calc(100% - 30px);
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input[name$=search]::placeholder {letter-spacing: -0.02em; color: #aaa;}
.h_bg header .h_right .h_top .search .search_popup #searchFrm #search_btn {}
.h_bg header .h_right .h_top .search .search_popup h2 {
    font-size: 1.13rem; font-weight: 500; letter-spacing: -0.02em;
}
.h_bg header .h_right .h_top .search .search_popup .search_list {
    display: flex; flex-flow: column nowrap;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li {
    margin-bottom: 14px;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li:last-child {margin: 0;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .num {
    font-size: 0.94rem; letter-spacing: -0.02em;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li .keywords {
    font-size: 0.94rem; letter-spacing: -0.02em;
    margin-left: 20px;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating {float: right;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating img {}
.h_bg header .h_right .h_top .search .search_popup .keyword_recommend {
    display: flex; flex-flow: row wrap;
}
.h_bg header .h_right .h_top .search .search_popup .keyword_recommend a {
    border: 1px solid #fff; border-radius: 20px;
    padding: 10px 15px; margin: 0 7px 7px 0;
    font-size: 0.94rem; letter-spacing: -0.02em;
}
/* =========================================header 검색팝업(E) */
.h_bg header .h_right .h_btm .h_b_left a,
.h_bg header .h_right .h_btm nav > a {
    font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02em;
}
.h_bg header .h_right .h_btm a:first-child {margin: 0;}
.h_bg header .h_right .h_btm {
    clear: both; /* 앞의 형제에게 들어간 값이 연속되지 않도록 처리(float 제거하며 내리기) */
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
.h_bg header .h_right .h_btm .h_b_left {}
.h_bg header .h_right .h_btm .h_b_left a {margin-left: 20px;}
.h_bg header .h_right .h_btm .h_b_left a:first-child {margin: 0;}
.h_bg header .h_right .h_btm nav {}
.h_bg header .h_right .h_btm nav > a {margin-left: 30px;}
.h_bg header .h_right .h_btm nav > a:first-child {margin: 0;}
/* =========================================header 서브(S) */
.h_bg header .h_right .h_btm nav .sub_bg {
    display: none;
    background-color: #111;
    position: absolute; left: 0; top:125px;
    /* absolute 작성 시 반드시 width 속성도 함께 써야 한다 */
    width: 100%;
}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents {
    max-width:1400px; height: 240px;
    margin: 0 auto; padding-top: 40px;
    display: flex; flex-flow: row nowrap;
}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents > * {
    width: 200px; padding-left: 20px;
}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents > * li {margin-bottom: 20px;}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents > * li a {
    display: block;
    padding-bottom: 3px; letter-spacing: -0.02em;
}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 li a {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 .active {
    border-bottom: 2px solid #fff;
}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 .active a {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 li {}
/* ============================depth2 sub 공통요소 */
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub li a {}
/* ============================depth2 sub 개별요소 */
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub1 {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub1 li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub1 li a {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub2 {display: none;}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub2 li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub2 li a {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub3 {display: none;}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub3 li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub3 li a {}
/* =========================================header 서브(E) */
.h_bg header .h_right .h_btm .h_btm_right {}
/* =========================================header(E) */
/* =========================================main */
main {}
/* =========================================main1 광고배너 */
main .slides_wrap {
    background-color: aqua;
    height: 650px; /* 배너 높이 고정(광고배너는 광고 요소에 따라 글자 단락이 다 다르기 때문에 내용 기준으로 높이를 자동높이 설정 시 높낮이가 배너에 따라 달라지는 불균형문제가 발생한다. 그래서 광고배너는 높이를 px 단위로 고정해야 하는 경우들이 많다. 그 외엔 자동높이 설정 권장!) */
    position: relative; /* 버튼, 스크롤바 기준 */
}
main .slides_wrap .slides_container {
    background-color: lime;
    height: 100%; /* slides_wrap과 높이 동일 */
}
main .slides_wrap .slides_container .slide {
    height: 100%; /* slides_container와 높이 동일 */
}
main .slides_wrap .slides_container .slide .contents {
    border: 5px solid red;
    max-width:1400px; margin: 0 auto;
    overflow: hidden;
}
main .slides_wrap .slides_container .slide .contents .title {
    border: 5px solid blue;
    width: 50%; float: right; padding-top: 160px;
}
main .slides_wrap .slides_container .slide .contents .title  img {}
main .slides_wrap .slides_container .slide .contents .title  .bnr_link {
    border: 1.5px solid #111;
    display: block; width: min-content; margin-top: 49px;
    padding: 8px 40px; text-align: center;
    color: #111; font-size: 1.38rem; letter-spacing: -0.02em;
    font-weight: 300;
}
main .slides_wrap .slides_container .slide .contents .title  .bnr_link:hover {
    background-color: #111; color: #fff;
}
main .slides_wrap .prev_btn, main .slides_wrap .next_btn {
    background-color: yellow;
    position: absolute; top: 45%;
}
main .slides_wrap .prev_btn img, main .slides_wrap .next_btn img {}
main .slides_wrap .prev_btn {left: 190px;}
main .slides_wrap .prev_btn img {}
main .slides_wrap .next_btn {right: 190px;}
main .slides_wrap .next_btn img {}
main .slides_wrap .scroll_bg {
    background-color: #ccc;
    max-width:1400px; height: 2px; margin: 0 auto;
    position: relative; bottom: 30px;
}
main .slides_wrap .scroll_bg .scrollbar {
    background-color: #111;
    width: 200px; height: 100%;
}
/* =========================================main1 광고배너(개별 배너) */
main .slides_wrap .slides_container .slide1 {
    background-image: url(../images/bnr1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main .slides_wrap .slides_container .slide1 .contents {}
main .slides_wrap .slides_container .slide1 .contents .title {}
main .slides_wrap .slides_container .slide1 .contents .title  img {}
main .slides_wrap .slides_container .slide1 .contents .title  .bnr_link {}
main .slides_wrap .slides_container .slide1 .contents .title  .bnr_link:hover {}
main .slides_wrap .slides_container .slide2 {
    display: none; /* 초기 숨기기 */
    background-image: url(../images/bnr2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
main .slides_wrap .slides_container .slide2 .contents {}
main .slides_wrap .slides_container .slide2 .contents .title {}
main .slides_wrap .slides_container .slide2 .contents .title  img {}
main .slides_wrap .slides_container .slide2 .contents .title  .bnr_link {}
/* ===========================================2행 FACE BEST */
main .face_best_wrap {
    background-color: aqua;
    max-width:1400px; margin: 0 auto;
    padding: 100px 0;
}
main .face_best_wrap .title {
    background-color: lime;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    margin-bottom: 40px;
}
main .face_best_wrap .title h2 {
    font-size: 1.88rem; font-weight: 600;
}
main .face_best_wrap .title .more {
}
main .face_best_wrap .contents {
    background-color: yellow;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .face_best_wrap .contents li {
    background-color: coral;
    width: calc((100% - (30px * 2)) / 3);
}
main .face_best_wrap .contents li .product {
    position: relative;
}
main .face_best_wrap .contents li .product .label {
    background-color: #fff;
    position: absolute; top: 0; left: 0;
    padding: 5px 10px;
    letter-spacing: -0.02em;
} 
main .face_best_wrap .contents li .product > a  {} 
main .face_best_wrap .contents li .product > a img {width: 100%;}
/* ==============================================2행 상품 마우스 올렸을 시 출력대상 - S */
main .face_best_wrap .contents li .product:hover .icon {display: block;}
main .face_best_wrap .contents li .product .icon {
    border: 5px solid red;
    position: absolute; left:0; bottom: 180px; /* absolute 주면 블럭이어도 인라인처럼 됨 */
    width: 100%; text-align: center;
    display: none; /* 초기 숨기기 */
} 
main .face_best_wrap .contents li .product .icon a {opacity:0.5;}
main .face_best_wrap .contents li .product .icon a:hover {opacity: 1;}
main .face_best_wrap .contents li .product .icon a img {} 
/* ==============================================2행 상품 마우스 올렸을 시 출력대상 - E*/
main .face_best_wrap .contents li .txt {}
main .face_best_wrap .contents li .txt .category {
    margin-bottom: 10px;
} 
main .face_best_wrap .contents li .txt h3 {
    font-size: 1.25rem; font-weight: 500;
    margin-bottom: 35px;
} 
main .face_best_wrap .contents li .txt .price {
    font-size: 1.13rem; font-weight: 500;
    letter-spacing: -0.02em;
}
/* =============================================3행 메이크업 컨설팅*/
main .consulting_wrap {
    background-color: #000;
    padding: 100px 0;
    text-align: center;
}
main .consulting_wrap * {
    color: #fff;
}
main .consulting_wrap p:nth-of-type(1) {
    font-family:'Noto Serif KR', serif ;
    font-size: 2.5em; margin-bottom: 44px;
    letter-spacing: -0.02em;
}
main .consulting_wrap h1 {
    font-family:'Noto Serif KR', serif ;
    font-size: 5.63em; font-weight: 700;
    margin-bottom: 100px;
    line-height: 1.3;
    letter-spacing: -0.02em;
}
main .consulting_wrap h2 {
    font-size: 1.88rem; font-weight: 600;
    margin-bottom: 11px;
}
main .consulting_wrap p:nth-of-type(2) {
    font-size: 1.13rem;
    margin-bottom: 100px;
}
main .consulting_wrap > a {
    display: inline-block;
    background-color: #fff; color: #000;
    width: 190px; padding: 10px 0;
    font-size: 1.25rem; font-weight: 600;
}