#wrap {}
#wrap header {}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav ul{}
#wrap header nav ul li {}
#wrap header nav ul li a {}
#wrap header .right_menu {}
#wrap header .right_menu > a {}
#wrap header .right_menu ul {}
#wrap header .right_menu ul li {}
#wrap header .right_menu ul li a {}
#wrap header .right_menu ul li a img {}
/* ==============================================메인 시작===================== */
#wrap main {background-color: bisque;}
#wrap main .path {
    background-color: #f9f9f9;
    padding: 11.5px 80px 11.5px 0;
    text-align: right;
}
#wrap main .path a {
    font-size: 0.88rem;
    line-height: 100%;
    color: #000;
}
#wrap main .path em {
    font-size: 0.88rem;
    line-height: 100%;
    font-weight: 600;
    color: #000;
}
#wrap main .path img {
    margin: 0 12px;
}
#wrap main h1 {
    text-align: center;
    font-size: 3.13rem; font-weight: 700;
    margin: 78px 0 27px 0;
}
#wrap main > p {
    text-align: center;
    font-size: 1.19rem;
    margin-bottom: 70px;
}
#wrap main .bg {
    background-color: #f9f9f9;
    padding: 120px 0;
}
/* ================================================종합식품사업================ */
#wrap main .bg .bread {
    background-color: aqua;
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 70px;
}
#wrap main .bg .bread > p {
    display: inline-block;
    margin-right: 20px;
}
#wrap main .bg .bread > p img {}
#wrap main .bg .bread .text_wrap {
    display: inline-block;
}
#wrap main .bg .bread .text_wrap .text_title {
    margin-bottom: 30px;
}
#wrap main .bg .bread .text_wrap .text_title .order {
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: -5px;
    color: rgba(0,0,0,0.1);
}
#wrap main .bg .bread .text_wrap .text_title h2 {
    font-size: 1.88rem;
    font-weight: 600;
}
#wrap main .bg .bread .text_wrap .contents_text {
    color: #555;
    line-height: 1.7;
}
/* =================================================점포사업================ */
#wrap main .bg .restaurant {
    background-color: coral;
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: right;
}
#wrap main .bg .restaurant .text_wrap {
    display: inline-block;
    margin-right: 20px
}
#wrap main .bg .restaurant .text_wrap .text_title {
    margin-bottom: 30px;
}
#wrap main .bg .restaurant .text_wrap .text_title .order {
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: -5px;
    color: rgba(0,0,0,0.1);
}
#wrap main .bg .restaurant .text_wrap .text_title h2 {
    font-size: 1.88rem;
    font-weight: 600;
}
#wrap main .bg .restaurant .text_wrap .contents_text {
    color: #555;
    line-height: 1.7;
}
#wrap main .bg .restaurant > p {
    display: inline-block;
}
#wrap main .bg .restaurant >p img {}
/* =============================================컨세션사업================= */
#wrap main .bg .concession {
    background-color: chartreuse;
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 70px;
}
#wrap main .bg .concession > p {
    display: inline-block;
    margin-right: 20px;
}
#wrap main .bg .concession > p img {}
#wrap main .bg .concession .text_wrap {
    display: inline-block;
}
#wrap main .bg .concession .text_wrap .text_title {
    margin-bottom: 30px;
}
#wrap main .bg .concession .text_wrap .text_title .order {
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: -5px;
    color: rgba(0,0,0,0.1);
}
#wrap main .bg .concession .text_wrap .text_title h2 {
    font-size: 1.88rem;
    font-weight: 600;
}
#wrap main .bg .concession .text_wrap .contents_text {
    color: #555;
    line-height: 1.7;
}
/* ==============================================서비스사업================= */
#wrap main .bg .delivery {
    background-color: cornflowerblue;
    width: 1140px;
    margin: 0 auto;
    margin-bottom: 70px;
    text-align: right;
}
#wrap main .bg .delivery .text_wrap {
    display: inline-block;
    margin-right: 20px;
}
#wrap main .bg .delivery .text_wrap .text_title {
    margin-bottom: 30px;
}
#wrap main .bg .delivery .text_wrap .text_title .order {
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: -5px;
    color: rgba(0,0,0,0.1);
}
#wrap main .bg .delivery .text_wrap .text_title h2 {
    font-size: 1.88rem;
    font-weight: 600;
}
#wrap main .bg .delivery .text_wrap .contents_text {
    color: #555;
    line-height: 1.7;
}
#wrap main .bg .delivery > p {
    display: inline-block;
}
#wrap main .bg .delivery > p img {}
/* =================================================수출사업================= */
#wrap main .bg .export {
    background-color: aquamarine;
    width: 1140px;
    margin: 0 auto;
}
#wrap main .bg .export > p {
    display: inline-block;
    margin-right: 20px;
}
#wrap main .bg .export > p img {}
#wrap main .bg .export .text_wrap {
    display: inline-block;
}
#wrap main .bg .export .text_wrap .text_title {
    margin-bottom: 30px;
}
#wrap main .bg .export .text_wrap .text_title .order {
    font-size: 6.25rem;
    font-weight: 700;
    letter-spacing: -5px;
    color: rgba(0,0,0,0.1);
}
#wrap main .bg .export .text_wrap .text_title h2 {
    font-size: 1.88rem;
    font-weight: 600;
}
#wrap main .bg .export .text_wrap .contents_text {
    color: #555;
    line-height: 1.7;
}