/* 외부스타일시트 위치(별도의 .css파일생성) */
/* 외부스타일시트에서는 HTML태그 < > 작성해선 안 되며 오직
선택자와 속성, 값만 작성할 수 있다. */
/* <head><body> (X) */
/* 선택자 {속성:값; 속성:값;} (O) */
body {background-color: lightgray;}
p {color: aliceblue; background-color: aqua;}
.info {color: chocolate;background-color: aquamarine;}
#wrap {color: pink;}