/* =========================animation */
.ball {
    width: 100px; height: 100px;
    border-radius: 50%;
    background: coral;
    /* animation: 불러올 프레임명 */
    animation: move1 1.5s ease 0.5s 3 alternate both;
}
.ball2 {
    width: 100px;
    animation: move2 0.8s ease 9 alternate both;
}
/* 속성을 따로따로 작성해줘야함 (한 번에 애니메이션은 하나씩만 적용 가능) */
/* 농구공을 앞으로 가게하는 것은 div.ball2에 적용, 공이 굴러가는 것은 img에 적용 */
.ball2 img {
    width: 100%;
    animation: rotate360 1s linear 9;
}
/* =========================keyframes */
/* 애니메이션 많은 경우 keyframes.css 별도 관리하기도 함 */
/* @keyframes 애니메이션이름 { 분기별 애니메이션 제작 } */
@keyframes move1 {
    0% {transform: translateX(0)}
    100% {transform: translateX(300px)}
}
@keyframes rotate360 {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}
@keyframes move2 {
    0% {transform: translateY()}
    100% {transform: translateY(-100px)}
}
