#wrap {}
#wrap header {
    background-color: aqua; height: 80px; overflow: hidden;
    padding: 24px 80px;
}
#wrap header h1 {float: left;}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {float: right;}
#wrap header nav ul {overflow: hidden;}
#wrap header nav ul li {
    background-color: burlywood;
    float: left; padding: 10px 0; margin-right: 80px;
}
#wrap header nav ul li a {font-size: 1.13rem; font-weight: 600; letter-spacing: -0.01em;}
#wrap header nav ul .developer_center {background-color:coral; margin: 0; padding: 0;}
#wrap header nav ul .developer_center a {
    color: #0046FF; padding: 10px 20px;
    border: 1px solid #0046FF; border-radius: 20px;
    display: block;
}
/* ================================================================Bnr */
#wrap main {}
#wrap main .title_bnr {
    text-align: center;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/customer/title_bnr.png);
    height: 300px;
}
/* 원본 사진과 다르게 배경이 어둡거나 밝게 설정된 경우는 사진이 적용된 부모 요소 기준 마지막 자식 위치에 가상자식을 생성하여 반투명한 배경색을 적용한 경우다 */
#wrap main .title_bnr::after{
    content: '';
    width: 100%; height: 300px;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}
#wrap main .title_bnr h1,
#wrap main .title_bnr p {position: relative; z-index: 10;} /* bnr의 모든 자식을 잡으면 after도 포함되어 있으므로 z-index가 먹지 않는다. 그리고 position이 after와 위로 올라와야 하는 선택자 두 가지 모두에 적용되어 있어야 함 */
#wrap main .title_bnr h1 {
    padding-top: 93.5px; margin-bottom: 40px;
    font-size: 3rem; font-weight: 700;
    color: #fff;
}
#wrap main .title_bnr p {font-size: 1.56rem; font-weight: 500; color: #fff;}
#wrap main .tab_menu {background-color: chartreuse; text-align: center;}
#wrap main .tab_menu a {
    display:inline-block; padding: 12px 32px;
    border-radius: 20px; border: 1px solid #eee; background-color: #fff;
    font-size: 1.13rem; font-weight: 600; color: 5e5e5e;
    margin-right: 12px;
}
#wrap main .tab_menu a:last-child {margin: 0;}
#wrap main .tab_menu .active {
    background-color: #0046FF; color: #fff;
    margin-bottom: 25px;
    border: 0;
}
/* =================================================================form */
/* 서브페이지 기준 로그인, 회원가입, 설문조사, 게시판 등으로 form 위주로 구성된 페이지일 경우 form은 너비가 넓을수록 디자인이 시각적으로 보기 좋지 않아 실제 사이트 너비보다 작게 사용하는 경우가 많다. */
#wrap main .tab_container {}
#wrap main .tab_container #creditCardFrm {
    background-color: coral;
    width: 720px; margin: 0 auto;
    margin-bottom: 100px;
}
#wrap main .tab_container #creditCardFrm dl {background-color: aquamarine;}
#wrap main .tab_container #creditCardFrm dl dt {
    font-size: 1.13rem; font-weight: 600;
    margin-bottom: 12px;
}
#wrap main .tab_container #creditCardFrm dl dd {position: relative; margin-bottom: 25px;}
#wrap main .tab_container #creditCardFrm dl dd .payment_date {
    background: #fff url(../images/customer/calendar.png) no-repeat 20px center;
    padding-left: 55px;
}
#wrap main .tab_container #creditCardFrm dl dd input[name$=date]::-webkit-calendar-picker-indicator {
    background:none;
    position: absolute; width: 100%;
}
#wrap main .tab_container #creditCardFrm dl dd input,
#wrap main .tab_container #creditCardFrm dl dd .payment_date {
    background-color:#fff;
    width: 100%; padding: 15px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#wrap main .tab_container #creditCardFrm dl dd input::placeholder {color:#aaa;}
#wrap main .tab_container #creditCardFrm dl dd .payment_date {}
/* ==================================================================상세설명 부분 */
#wrap main .tab_container #creditCardFrm ul {background-color:pink; margin-bottom: 25px;}
#wrap main .tab_container #creditCardFrm ul li {
    font-size: 0.81rem; color: #888;
    letter-spacing: -0.05em; margin-bottom: 16px;
    background-image: url(../images/customer/star.png);
    background-repeat: no-repeat;
    padding-left: 16px; white-space: nowrap; /* 줄바꿈 안하겠다 */
}
#wrap main .tab_container #creditCardFrm ul li:last-child {margin: 0;}
/* ===================================================================개인정보 이용동의 */
#wrap main .tab_container #creditCardFrm h2 {font-size: 1.13rem; font-weight: 600; margin-bottom: 12px;}
#wrap main .tab_container #creditCardFrm .consent_box {
    background-color: #fff;
    padding: 20px; border: 1px solid #ccc;
    border-radius: 10px; overflow:auto; height: 238px;
    margin-bottom: 25px;
}
#wrap main .tab_container #creditCardFrm .consent_box h3,
#wrap main .tab_container #creditCardFrm .consent_box h4 {
    font-size: 0.88rem; font-weight: 600;
    margin-bottom: 30px;
}
#wrap main .tab_container #creditCardFrm .consent_box p {
    font-size: 0.88rem; color: #888; line-height: 1.4;
    margin-bottom: 30px;
}
#wrap main .tab_container #creditCardFrm .consent_box .info {}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody {
    border-top: 1px solid #aaa;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr {
    border-bottom: 1px solid #aaa;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr th,
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr td {
    padding: 15px 0 15px 10px; color: #aaa;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr th {
    width: 140px; border-right: 1px solid #aaa ;
    font-size: 0.81rem;
}
#wrap main .tab_container #creditCardFrm .consent_box .info tbody tr td {
    width: 510px; font-size: 0.75rem; letter-spacing: -0.08em;
}
/* input radio, checkbox는 css 개별디자인이 불가능하기 때문에 항상 input의 형ㅇ제가 되는 또다른 요소를 생성해서 (label, span 등) 배경이미지로 연결해야 한다. */
/* input형제요소를 생성했다면 그 형제요소선택자는 input 비활성화 배경이미지를 가지고 input:checked 상태선택자를 활용하여 선택됐을 시 활서오하 배경이미지로 변경해준다. */
#wrap main .tab_container #creditCardFrm .all_agree_box {
    background-color: yellow; margin-bottom: 100px;
}
#wrap main .tab_container #creditCardFrm .all_agree_box #privacy_y:checked+label {
    background-image: url(../images/customer/check_box.png);
    background-repeat: no-repeat; padding-left: 30px;
    background-position: 0 2px;
}
#wrap main .tab_container #creditCardFrm .all_agree_box label {
    background-image: url(../images/customer/check_box_n.png);
    background-repeat: no-repeat; padding-left: 30px;
    background-position: 0 2px;
}
#wrap main .tab_container #creditCardFrm .btn {background-color: aquamarine; text-align: center;}
#wrap main .tab_container #creditCardFrm .btn .about_btn {
    background-color: antiquewhite; width: 160px; padding: 16px 0;
    background-color: #0046FF; font-size: 1.13rem; font-weight: 600; color: white;
    border-radius: 10px;
}
/* =========================================================가상계좌 탭 클릭 시 활성화 */
/* =========================================================계좌이체 탭 클릭 시 활성화 */
