#wrap {}
#wrap header {
    background-color: rgba(0,0,0,0.1);
    padding: 21px 80px;
    /* header는 모든 사이트에서 높이가 고정되는 경우가 90% 이상이다 */
    /* float 오류해결법 사용됨 */
    height: 80px;
    position: fixed; width: 100%; left: 0; top: 0; z-index: 999;
    /* 크기를 내용 만큼만 인식하게 되므로, 너비를 블록이어도 다시 한번 기본값으로 설정해줘야 함, 좌표값도 쓰는 게 좋음*/
}
#wrap header h1 {
    float: left; padding-top:3px;
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    float: right;
}
#wrap header nav ul {
    overflow: hidden;
}
#wrap header nav ul li {
    float: left;
    padding: 10px 0;
    margin-right: 80px;
}
#wrap header nav ul li a {
    font-size: 1.13rem; font-weight: 600;
    color: #fff;
}
#wrap header nav ul li:nth-child(4) {margin: 0px; padding: 0px;} /* li한테 줬던 margin과 padding은 '개발자센터(4번째 메뉴)'에 적용되지 않아야 하므로, 리셋시켜주는 것 */
#wrap header nav ul li:nth-child(4) a {
    border-radius: 25px;
    padding: 10px 20px; /* 선택영역 크기가 클수록 좋기 때문에 <a>영역을 넓게 해주는 것 */
    border: 1px solid #fff;
    display: block; /* <a>태그가 인라인 속성도 갖고 있어 영역을 잡아주기 위함 */
}
#wrap main {}
/* =============================메인 1~4행 공통선택자 */
#wrap main .container {}
#wrap main .container .contents {
    width: 1440px; height: 100vh;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.3); /* 제거용 색상 */
}
#wrap main .container .contents .txt {
    background-color: orange;
}
#wrap main .container .contents .txt .sub_title {
    text-transform: uppercase;
    font-size: 1.56rem; font-weight: 600;
    color: #fff; margin-bottom: 20px;
}
#wrap main .container .contents .txt h1 {
    font-size: 4.38rem; font-weight: 700;
    color: #fff; line-height: 1.3;
}
#wrap main .container .contents .txt h1 span {
    font-weight: 700; color: #5EE1FF;

}
#wrap main .container .contents .txt h1+p {
    font-size: 1.5rem; font-weight: 500;
    color: #fff; line-height: 1.5;
    letter-spacing: -0.02px;
    margin: 20px 0;
}
/* =============================메인 1~4행 결제 편리함 */
#wrap main .pay {
    background-image: url(../images/row1.jpg);
    background-size: cover;
}
#wrap main .pay .contents {position: relative;}
#wrap main .pay .contents .txt {
    padding-top: 231px;
}
#wrap main .pay .contents .txt h1 {}
#wrap main .pay .contents .txt h1 span {}
#wrap main .pay .contents .txt p {}
#wrap main .pay .contents .txt .bnr_btn_wrap {
}
#wrap main .pay .contents .txt .bnr_btn_wrap > * {margin-right: 10px;} /* 자식 전체선택하고 싶을 때 *잊지않기 */
#wrap main .pay .contents .txt .bnr_btn_wrap .prev {}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev img {
    display: inline-block;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress {
    display: inline-block;
    width: 100px; height: 2px;
    background-color: rgba(255,255,255,0.3);
    position: relative; bottom: 10px;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress:nth-child(4) {
    background-color: rgba(255,255,255,1);
}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause img {
    display: inline-block;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .next {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next img {
    display: inline-block;
}
#wrap main .pay .contents .scroll {
    position: absolute; right: 0; bottom: 43px;
}
#wrap main .pay .contents .scroll span {}
#wrap main .pay .contents .scroll span:nth-child(1) {
    text-transform: uppercase;
    font-size: 0.88 rem; color: #fff;
    position: relative; top: 6px; /* 이 요소 하나만 움직이고 싶을 때, position 이용 */
    line-height: 1.3; font-weight: 500;
}
#wrap main .pay .contents .scroll .scroll_bg {
    display: inline-block;
    width: 12px; height: 30px;
    background-color: #555;
    border-radius: 6px;
}
#wrap main .pay .contents .scroll .scroll_bg .bar {
    display: inline-block;
    width: 8px; height: 8px;
    background-color: #fff;
    border-radius: 50%;
    position: relative; left: 2px; top: -5px; /* 개발자도구 이용해서 좌표 체크한 뒤 작성하기 */
}
/* ===============================================2페이지(OUR SERVICES) 시작 */
#wrap main .service {
    background-image: url(../images/row2.jpg);
    background-size: cover;
}
#wrap main .service .contents {overflow: hidden;}
#wrap main .service .contents .txt {
    float: left;
    padding-top: 311px;
    width: 507px;
}
#wrap main .service .contents .txt h1 {}
#wrap main .service .contents .txt p {}
/* 카드요소 공통 선택자 */
#wrap main .service .contents .card {float: right;}
#wrap main .service .contents .card .card_contents {
    background-color: cadetblue;
    width: 331px;
    border-radius: 25px;
    background-size: 100%; /* 331px auto로 설정해도 가능함 */
}
#wrap main .service .contents .card .card_contents .inside {
    position: relative; top: 200px;
    background-color: #fff;
    padding: 30px 20px 20px 20px;
    border-radius: 0 0 25px 25px;
}
#wrap main .service .contents .card .card_contents .inside h2 {
    background-color: aqua;
    font-size: 1.57rem; font-weight: 600;
    margin-bottom: 35px;
}
#wrap main .service .contents .card .card_contents .inside p {
    background-color: coral;
    line-height: 1.5; color: #555;
    margin-bottom: 35px;
}
#wrap main .service .contents .card .card_contents .inside .detail {
    display: inline-block;
    padding: 10px 0;
    border-top: 1px solid #000;
    background-color: burlywood;
}
#wrap main .service .contents .card .card_contents .inside .detail span {
    display: inline-block; width: 260px;
    line-height: 1.5; letter-spacing: -0.02px;
    font-weight: 600;
    background-size: 100%;
}
#wrap main .service .contents .card .card_contents .inside .detail img {
    position: relative; top: 6px;
}
/* 카드요소 개별 선택자 - credit 신용카드 */
#wrap main .service .contents .card .credit {
    display: inline-block;
    position: relative; top:157px;
    margin-right: 20px;
    background-image: url(../images/card_bg1.jpg);
    background-size: 100%;

}
#wrap main .service .contents .card .credit .inside {}
#wrap main .service .contents .card .credit .inside h2 {
}
#wrap main .service .contents .card .credit .inside p {}
#wrap main .service .contents .card .credit .inside .detail {}
#wrap main .service .contents .card .credit .inside .detail span {}
#wrap main .service .contents .card .credit .inside .detail img {}
/* 카드요소 개별 선택자 - account 가상계좌 */
#wrap main .service .contents .account {
    display: inline-block;
    position: relative; top:331px;
    background-image: url(../images/card_bg2.jpg);
    background-size: contain;
    opacity: 0.6;
}
#wrap main .service .contents .card .account .inside {}
#wrap main .service .contents .card .account .inside h2 {}
#wrap main .service .contents .card .account .inside p {}
#wrap main .service .contents .card .account .inside .detail {}
#wrap main .service .contents .card .account .inside .detail span {}
#wrap main .service .contents .card .account .inside .detail img {}
/* ==========================================================3페이지 왜 신한은행 pg~~시작 */
#wrap main .different {
    background-image: url(../images/row3.jpg);
    background-size: cover;
}
#wrap main .different .contents {}
#wrap main .different .contents .txt {
    text-align: center; padding-top: 162px;
}
#wrap main .different .contents .txt .sub_title {}
#wrap main .different .contents .txt .sub_title h1 {}
#wrap main .different .contents .txt .sub_title h1 span {}
#wrap main .different .contents .txt .sub_title h1+p {}
#wrap main .different .contents ol {
    overflow: hidden; margin-top: 109px;
}
#wrap main .different .contents ol li {
    width: 290px; height: 290px; /* 보통은 보더를 포함해서 크기 계산함 */
    border-radius: 50%;
    border: 20px solid rgba(255,255,255,0.5);
    position: relative; /* after가상요소의 부모설정 */
    float: left; margin-right: 93.33px;
    text-align: center;
}
#wrap main .different .contents ol li::after {
    /* 태그를 낭비하지 않기 위해 원래있는 태그에 가상요소를 만드는 것(가상선택자) */
    /* 면 색과 반투명 테두리를 나눠서 주기 위함 */
    content: '';
    display: block;
    background-color: #fff;
    width: 250px; height: 250px;
    border-radius: 50%;
    position: absolute; left: 0; top: 0;
    z-index: 100;
}
#wrap main .different .contents ol li:nth-child(4) {margin: 0;}
#wrap main .different .contents ol li > * {
    position: relative;  z-index: 200;
    font-size: 1.56rem; font-weight: 600; line-height: 1.3;
}
#wrap main .different .contents ol li .num {
    display: inline-block;
    background-color: #5E91FF;
    color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 67px 0 10px;
    /* top: 67px; left: 90px; */
}
#wrap main .different .contents ol li h2 {}
/* ================================================4행 자주묻는 질문 */
#wrap main .question {}
#wrap main .question .contents {padding-top: 231px;}
#wrap main .question .contents .txt {margin-bottom: 54px;}
#wrap main .question .contents .txt .sub_title {color: #5E91FF;}
#wrap main .question .contents .txt h1 {color: #000;}
#wrap main .question .contents .q_contents {
    background-color: yellowgreen;
}
#wrap main .question .contents .q_contents a {
    overflow: hidden; display: block;
    background-color: #EEEEEE;
    margin-bottom: 20px; padding: 20px;
    border-radius: 10px;
}
#wrap main .question .contents .q_contents a:nth-child(3) {margin: 0;}
#wrap main .question .contents .q_contents a .q_left {
    background-color: yellow; float: left;
}
#wrap main .question .contents .q_contents a .q_left > * {
    margin-right: 24px;
}
#wrap main .question .contents .q_contents a .q_left .category {
    font-size: 1.25rem;
    line-height: 1.5; letter-spacing: -0.02rem;
}
#wrap main .question .contents .q_contents a .q_left img {
    position: relative; top: 4px;
}
#wrap main .question .contents .q_contents a .q_left em {
    background-color: aqua;
    font-size: 1.56rem; font-weight: 600;
    line-height: 1.5; letter-spacing: -0.02rem;
    margin: 0;
}
#wrap main .question .contents .q_contents a .q_down {float: right;}
#wrap main .question .contents .q_contents a .q_down img {
    position: relative; top: 7px;
}
