#wrap {background-color: brown;}
#wrap header {
    background-color: rgba(0,0,0,0.1);
    padding: 21px 80px;
    /* header는 모든 사이트에서 높이가 고정되는 경우가 90% 이상이다 */
    /* float 오류해결법 사용됨 */
    height: 80px;
}
#wrap header h1 {
    background-color: aqua;
    float: left; padding-top:3px;
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color: coral;
    float: right;
}
#wrap header nav ul {
    overflow: hidden;
}
#wrap header nav ul li {
    float: left;
    padding: 10px 0;
    margin-right: 80px;
}
#wrap header nav ul li a {
    font-size: 1.13rem; font-weight: 600;
    color: #fff;
}
#wrap header nav ul li:nth-child(4) {margin: 0px; padding: 0px;} /* li한테 줬던 margin과 padding은 '개발자센터(4번째 메뉴)'에 적용되지 않아야 하므로, 리셋시켜주는 것 */
#wrap header nav ul li:nth-child(4) a {
    border-radius: 25px;
    padding: 10px 20px; /* 선택영역 크기가 클수록 좋기 때문에 <a>영역을 넓게 해주는 것 */
    border: 1px solid #fff;
    display: block; /* <a>태그가 인라인 속성도 갖고 있어 영역을 잡아주기 위함 */
}
#wrap main {background-color: lime;}
/* =============================메인 1~4행 공통선택자 */
#wrap main .container {background-color: beige;}
#wrap main .container .contents {
    background-color: pink;
}
#wrap main .container .contents .txt {
    background-color: aqua;
}
#wrap main .container .contents .txt h1 {}
#wrap main .container .contents .txt h1 span {}
#wrap main .container .contents .txt p {}
/* =============================메인 1~4행 결제 편리함 */
#wrap main .pay {
    background-image: url(../images/row1.jpg);
}
#wrap main .pay .contents {}
#wrap main .pay .contents .txt {}
#wrap main .pay .contents .txt h1 {}
#wrap main .pay .contents .txt h1 span {}
#wrap main .pay .contents .txt p {}
#wrap main .pay .contents .txt .bnr_btn_wrap {
    background-color: purple;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev {}
#wrap main .pay .contents .txt .bnr_btn_wrap .prev img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause {}
#wrap main .pay .contents .txt .bnr_btn_wrap .pause img {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next {}
#wrap main .pay .contents .txt .bnr_btn_wrap .next img {}
#wrap main .pay .contents .scroll {
    background-color: brown;
}
#wrap main .pay .contents .scroll span {}
#wrap main .pay .contents .scroll span:nth-child(1) {}
#wrap main .pay .contents .scroll .scroll_bg {}
#wrap main .pay .contents .scroll .scroll_bg .bar {}

