header {
    width: 1152px; margin: 0 auto;
}
/* ==============================header top */
header .top {
    height: 48px;
    /* lnb+mylab 자식을 정렬하기 위한 flex 적용부모 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .top .lnb {
    /* 서울특별시 h1~응답소 a 정렬하기 위한 flex 적용부모 */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {
    margin-left: 20px;
    letter-spacing: -0.02em;
}
header .top .my_lnb {}
header .top .my_lnb a {margin-right: 20px; letter-spacing: -0.02em;}
header .top .my_lnb a:last-child {margin: 0;}
/* ==============================header bottom */
header .bottom {
    height: 119px;
    /* 로고h1~언어div 자식을 묶는 flex 적용부모 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom form {
    background-color: #fff;
    width: 369px; height: 46px;
    border: 2px solid #1E6CB3;
    padding: 0 20px;
    /* input+button 정렬을 위한 flex 부모 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
header .bottom form input[name*=search] {}
header .bottom form input[name*=search]::placeholder {
    color: #1E6CB3; letter-spacing: -0.02em;
}
header .bottom form button {}
header .bottom .lang {}
header .bottom .lang select[name*=lang] {
    border: 1px solid #1E6CB3;
    width: 93px; height: 29px;
    padding: 0 10px; margin-right: 2px;
    font-size: 0.81rem;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {
    background-color: #1E6CB3; color: #fff; width: 30px; height: 29px;
    font-size: 0.81rem;
}
/* ==============================header main */
main {background-color: pink;}
/* ==============================main 1. 상단 이벤트+공지사항 배너 */
main .visual_container {
    width: 1152px; margin: 0 auto;
    /* 좌(거리두기) 우(현황,교통) 자식정렬 부모 flex 대상 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main .visual_container .corona_notice {position: relative;}
main .visual_container .corona_notice .img  {}
main .visual_container .corona_notice .close  {
    background-color: #1E6CB3; color: #fff;
    position: absolute; right: 10px; bottom: 10px;
    font-weight: 500; padding: 10px; border-radius: 5px;
    display: block;
}
main .visual_container .right_container {
    width: 360px;
}
main .visual_container .right_container .corona  {position: relative; margin-bottom: 10px;}
main .visual_container .right_container .corona img  {}
main .visual_container .right_container .corona span  {
    display: inline-block;
    position: absolute; color: #fff;
    letter-spacing: -0.02em;
}
main .visual_container .right_container .corona .date  {
    right: 20px; top: 19px; color: #000;
}
main .visual_container .right_container .corona .data  {text-align: center; }
main .visual_container .right_container .corona .data1,
main .visual_container .right_container .corona .data2 {width: 140px; top: 84px;}
main .visual_container .right_container .corona .data1 {left: 30px;}
main .visual_container .right_container .corona .data2 {right:30px;}
main .visual_container .right_container .corona .data3,
main .visual_container .right_container .corona .data4 {width: 94px; bottom: 56px;}
main .visual_container .right_container .corona .data3 {left: 30px;}
main .visual_container .right_container .corona .data4 {right: 121px;}
main .visual_container .right_container .corona .data5 {
    width: 59px; right: 33px; bottom: 56px;
}
main .visual_container .right_container .traffic {}
main .visual_container .right_container .traffic a {}
main .visual_container .right_container .traffic a img {}
/* ================================================2~5 ★공통제목디자인★ */
main > * .title {}
main > * .title h1 {}
main > * .title h1 .more_view {}
/* ================================================2. 주요 서비스 */
main .service_container {}
main .service_container .title {}
main .service_container .title h1 {}
main .service_container .title h1 .more_view {}
main .service_container .contents {}
main .service_container .contents a {}
main .service_container .contents a span {}
main .service_container .contents a em {}
main .service_container .contents a:nth-child(1) span {}
main .service_container .contents a:nth-child(2) span {}
main .service_container .contents a:nth-child(3) span {}
main .service_container .contents a:nth-child(4) span {}
main .service_container .contents a:nth-child(5) span {}
main .service_container .contents a:nth-child(6) span {}
main .service_container .contents a:nth-child(7) span {}
main .service_container .contents a:nth-child(8) span {}
main .service_container .contents a:nth-child(9) span {}
main .service_container .contents a:nth-child(10) span {}
main .service_container .contents a:nth-child(11) span {}
/* ================================================main 3. 신청,행사,서비스 */
/* ================================================main 3-1. 이벤트신청 */
/* ================================================main 3-2. 이달행사축제 */
/* ================================================main 3-3. 자주찾은서비스 */
/* ================================================main 4. 분야정보 */
/* ================================================main 5. 새소식 */
/* ==============================footer */